<div style="width: 500px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            [(ngModel)]="student.firstName"
            name="firstName"
          />
        </div>
        <div class="form-group">
          <label for="title">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            [(ngModel)]="student.lastName"
            name="lastName"
          />
        </div>
        <div class="form-group">
          <label for="description">Gender</label>
          <select class="form-control" name="gender" id="gender" [(ngModel)]="student.gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
          </select>
        </div>

        <div class="form-group">
          <label for="description">DOB</label>
          <input type="date" class="form-control" id="dob" name="dob" [ngModel]="student.dateOfBirth | date:'yyyy-MM-dd'"
          (ngModelChange)="student.dateOfBirth = $event">
        </div>

        <div class="form-group">
          <label for="description">Address</label>
          <textarea class="form-control" name="address" id="address" [(ngModel)]="student.address"></textarea>
        </div>

        <div class="form-group">
          <label for="description">School Name</label>
          <input class="form-control" name="schoolName" id="schoolName" [(ngModel)]="student.schoolName"/>
        </div>

        <div class="form-group">
          <label for="description">Class</label>
          <input class="form-control" name="class" id="class" [(ngModel)]="student.class"/>
        </div>

        <div class="form-group">
          <label for="description">Father's Email ID</label>
          <input class="form-control" type="email" id="fatherEmail" name="fatherEmail" [(ngModel)]="student.fatherEmailID"/>
        </div>

        <div class="form-group">
          <label for="description">Father's Mobile Number</label>
          <input type="tel" class="form-control" id="fatherMobile" name="fatherMobile" [(ngModel)]="student.fatherMobile" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"/>
        </div>

        <div class="form-group">
          <label for="description">Mother's Email ID</label>
          <input class="form-control" type="email" id="motherEmail" name="motherEmail" [(ngModel)]="student.motherEmailID"/>
        </div>

        <div class="form-group">
          <label for="description">Mother's Mobile Number</label>
          <input type="tel" class="form-control" id="motherMobile" name="motherMobile" [(ngModel)]="student.motherMobile" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"/>
        </div>

        <div class="form-group">
          <label for="description">Comments</label>
          <textarea class="form-control" name="comment" id="comment" [(ngModel)]="student.comments"></textarea>
        </div>

        <div class="form-group">
          <label>Status:</label>
          <input
            type="checkbox"
            id="isActive"
            [(ngModel)]="student.isActive"
            [ngModelOptions]="{standalone: true}"
            name="isActive"
          />
        </div>
  
        <button (click)="createStudent()" class="btn btn-success">Create</button>
      </div>
  
      <div *ngIf="submitted">
        <h3>You successfully registered a student!</h3>
        <button class="btn btn-success" (click)="newStudent()">New..</button>
      </div>
    </div>
  </div>