<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Chess Academey</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="students" class="nav-link">Student Management</a>
      </li>
      <li class="nav-item">
        <a routerLink="fee-list" class="nav-link">Fees Management</a>
      </li>
      <li class="nav-item">
        <a routerLink="#" class="nav-link">Payments Management</a>
      </li>
    </div>
  </nav>

  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
</div>